.row {
  padding-top: 50px;
}
.singlePage-image {
  width: 100%;
}
.tags {
  margin-right: 20px;
}
.tags:hover {
  cursor: default;
}
.singlePageCast-image {
  width: 100%;
  height: 200px;
}
.singlePageCast-text {
  font-size: 15px !important;
}
